.navbar {
    height: 75px;
    background: rebeccapurple;
    margin: 15px 75px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    padding-top: 10px;

}

.navbar img {
    width: 50px;
    padding: 10px;
}

.main-div {
    height: 1000px;
}

.section-div {
    height: 440px;
    margin: 25px;
    display: flex;
}

.img-div {
    width: 290px;
    height: 275px;
    margin: 50px;
    display: flex;
}

.img-div img {
    width: 290px;
    height: 275px;
}

.text-iron {
    width: 600px;
    margin: 25px;
}

.text-color {
    color: rebeccapurple;
}

.text-iron>ul {
    display: flex;
}

.text-iron>ul li {
    margin: 25px;
}