@media only screen and (max-width: 1235px) {
    .fartsection {
        height: 863px;
        display: block;
        width: 691px;
    }

    .right #title-line {
        position: absolute;
        top: 637px;
        left: 135px;
    }

}

@media only screen and (max-width: 843px) {
    .navbar {
        width: 519px;
    }

    .fartsection {
        width: 516px;
        height: 778px;
    }

    .left {
        height: 390px;
        width: 516px;
    }

    .w-100 {
        width: 100% !important;
    }

    .right #title-line {
        position: absolute;
        top: 502px;
        left: 135px;
    }

    .right {
        margin-top: 175px;
        width: 516px;
    }

    .info-text {
        margin-top: -127px;
        height: 320px;
    }

    hr {
        display: none;
    }
}

@media only screen and (max-width: 615px) {
    .navbar {
        width: 371px;
    }

    .fartsection {
        width: 430px;
        height: 640px;
    }

    .left {
        height: 280px;
        width: 370px;
    }

    .w-100 {
        width: 100% !important;
    }

    .right {
        width: 430px;
        height: 356px;
        margin-top: 276px;
    }

    .right #title-line {
        position: absolute;
        top: 392px;
        left: 75px;
    }

    .info-text {
        margin-top: -232px;
        margin-left: -30px;
    }

    .info-text h3 {
        font-size: 1.1rem;
    }

    ul {
        font-size: 15px;
        width: 425px;
    }

    .info-text p {
        width: 425px;
    }
}

@media only screen and (max-width: 500px) {
    .fartsection {
        width: 392px;
    }

    .right {
        width: 392px;
    }

    .left {

        width: 345px;
    }

    .navbar {
        width: 345px;
    }

    ul {
        font-size: 13px;
        width: 353px;
    }

    .info-text p {
        width: 325px;
    }
}

@media only screen and (max-width: 509px) {
    .fartsection {
        width: 389px;
    }
}

@media only screen and (max-width: 465px) {
    .navbar {
        width: 320px;
    }

    .left {
        width: 320px;
    }

    .right #title-line {
        position: absolute;
        top: 392px;
        left: 25px;
    }
}