@media only screen and (max-width:950px){
    .img-div {

        margin: 50px 0px;
       
    }
    .text-iron {
       
        margin: 25px 4px;
    }
    .main-section{
        width: 800px;
    }
    .section-div{
        width: 800px;
    }
}
@media only screen and (max-width:828px){
    .section-div {
        /* border: 1px solid rebeccapurple; */
        height: 700px;
    }
    .section-div {
        width: 596px;
    }
    .text-iron {
        margin: 341px -174px;
        height: 325px;
        width: 478px;
    }
    .main-section {
        width: 687px;
    }
    hr{
        margin-right: 90px;
    }
}
@media only screen and (max-width:679px) {
    .navbar {
        margin: 15px -8px;
        border-radius: 0px;
    }
    .text-iron {
        margin: 341px -319px;
    }
    .main-section {
        width: 379px;
    }
    .section-div {
        width: 353px;
    }
    .text-iron>ul {
        flex-wrap: wrap;
        margin-left: -35px;
    }
    .text-iron {
        height: 405px;
        width: 379px;
    }
    
}



hr{
    display: none;
}