*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(244, 240, 240);    
}
#info-text{
    display: none;
}
#info-text1{
    display: none;
}
#info-text2{
    display: none;
}
#span1 {
    padding-left: 50px;
}
#span2 {
    padding-left: 50px;
}
